<%= render :partial => 'services/import_statuses' %>

<%= render :partial => 'services/list' %>

<h1><%= @event.name %></h1>
<div id="photos">
  <% if @photos %>
    <ul>
    <% @photos.each do |photo| %>
      <li>
        <%= image_tag photo.file.url %><br />
        <% if photo.metadata['photo']['tags'] %>
          <% tag_names = [] %>
          <% photo.metadata['photo']['tags']['data'].each do |tag| %>
            <% if tag['id'] %>
              <% tag_names << link_to(tag['name'], 
                                      chat_path(:provider => photo.service.provider.name,
                                                :uid => tag['id']) ) %>
            <% else %>
              <% tag_names << h(tag['name']) %>
            <% end %>
          <% end %>
          <%=raw tag_names.join(', ') %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% else %>
    There are no photos yet
  <% end %>
</div>